body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
.banner-container{
    background-color:bisque;
}
.banner-column{
    background-color:rgb(173, 145, 110)
}
.navbar-container{
    top:0;
    background-color: rgb(69, 172, 137);
}